CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=

OPENAI_API_KEY=

TELEGRAM_BOT_TOKEN=
REPORTS_CHAT_ID=

LOGFIRE_TOKEN=

TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_BEARER_TOKEN=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

TRADING_API_PORT=42069
SOCIAL_API_PORT=42070
AGENTS_API_PORT=42071

TELEGRAM_ADMIN_USERNAME=